<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>superadmin</fullName>
  <properties>
    <hudson.model.MyViewsProperty>
      <primaryViewName>All</primaryViewName>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.security.HudsonPrivateSecurityRealm_-Details>
      <passwordHash>GBDBWD:e3f812cbb1e47d424b5d4706f9083f6b09374df8e9c8e54fd514f903b5c805ab</passwordHash>
    </hudson.security.HudsonPrivateSecurityRealm_-Details>
    <hudson.tasks.Mailer_-UserProperty>
      <emailAddress>myhongkongzhen@139.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
  </properties>
</user>